<launch>
       <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk">
		<!-- node parameters -->
		<param name="serial_name" type="string" value="/dev/ttyTHS1"/>
		<param name="baud_rate" type="int" value="230400"/>
		<param name="app_id" type="int" value="1026816"/>
		<param name="app_version" type="int" value="1"/>
		<param name="app_bundle_id" type="string" value="Welcome to use dji-sdk"/>
		<param name="enc_key" type="string" value="ca7c1b43a570ca1be98f1867840029b5def7fe7082372d8063fb4808f2331028"/>
		<param name="groundstation_enable" type="int" value="1"/>
	</node>
	<node pkg="dji_sdk_read_cam" type="dji_sdk_read_cam" name="dji_sdk_read_cam" output="screen">
		<!-- node parameters --> 
		<param name="gray_or_rgb" type="int" value="1"/>
		<param name="to_mobile" type="int" value="1"/>

	</node>

      <node pkg="guidance" type="guidanceNode" name="guidanceNode" output="screen" />   

	<node pkg="dji_sdk_demo" type="dji_sdk_gaofen_3" name="dji_sdk_gaofen_3"  output="screen">
	
		<param name="bound_len" type="int" value="500"/>
		<param name="park_direction_1" type="bool" value="false"/>
		<param name="park_direction_2" type="bool" value="false"/>
		<param name="park_direction_3" type="bool" value="false"/>
		<param name="cross_direction_4" type="bool" value="true"/>
		<param name="park_direction_5" type="bool" value="false"/>
		<param name="cross_direction_6" type="bool" value="false"/>
		<param name="cross_direction_7" type="bool" value="false"/>
		<param name="park_direction_8" type="bool" value="false"/>
		<param name="park_direction_9" type="bool" value="false"/>

		<param name="serach_flight_height_1" value="3.0"/>
		<param name="count_to_forward01" type="int" value="80"/>
		<param name="cross_forward_distance12"  value="1.5"/>
		<param name="cross_forward_distance23"  value="1.5"/>
		<param name="cross_forward_distance34"  value="0"/>
		<param name="cross_forward_distance45"  value="3.2"/>
		<param name="cross_forward_distance56"  value="0"/>
		<param name="cross_forward_distance67"  value="1.5"/>
		<param name="cross_forward_distance78"  value="3.2"/>
		<param name="cross_forward_distance89"  value="1.5"/>
		<param name="cross_forward_distance910" value="5.0"/>
		<param name="set_count_to_landing" type="int" value="230"/>
		
		<param name="first_square_height" value="1.4"/>
		<param name="first_cross_height" value="2.3"/>
		<param name="second_square_height" value="1.4"/>
		<param name="second_cross_height" value="2.3"/>
		<param name="third_square_height" value="1.4"/>
		<param name="third_cross_height" value="2.3"/>
												
		<param name="serach_flight_height_2" value="1.3"/>
		<param name="count_forward_tags" type="int" value="200"/>
                
	</node>
</launch>

    
    
